<div class="mb-5" style="height:30px"></div> <!--Esto es por el navbar-->

<!-- Componente de Producto en el shopping cart -->

<app-product-item
  *ngFor="let producto of cartProduct"
  [item]="producto"
  idModal="cartProductModal{{producto.id}}"
  (updateCart)="onUpdateCart()"
>
</app-product-item>

<!-- Resumen de Compra -->
<div class="resume_cart mb-5 row mx-4 my-3 rounded shadow p-4 justify-content-center align-content-end">
  <div class="d-flex justify-content-end">
    <p class="mx-2">Monto de la compra: </p>
    <p>${{total}}</p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="mx-2">Envío: </p>
    <p>${{shipping}}</p>
  </div>
  <div class="total d-flex justify-content-end p-2">
    <p class="mx-2">Total: </p>
    <p>${{total + shipping}}</p>
  </div>
</div>

<div class="buffer">

</div>
<!-- Bottom button -->
<!-- <div class="fixed-bottom ">
    <div class="d-grid gap-2 d-md-flex align-self-end my-3 mx-3" style="height:55px">
        <button (click)="continuarCompra()" class="btn btn-success me-md-2 h-100" type="button">Comprar</button>
    </div>
</div> -->

<app-fixed-button></app-fixed-button>

<!-- (click)="ratingStars()" -->


