<div class="mb-5" style="height: 30px"></div>
<!--Esto es por el navbar-->

<!-- Componente de Producto en el shopping cart -->
<app-product-item [item]="cartProduct" idModal="cartProductModal" [modalBody]="modalBody">
</app-product-item>

<!-- Bottom button
<div class="fixed-bottom">
    <div class="d-grid gap-2 d-md-flex align-self-end my-3 mx-3" style="height:55px">
        <button (click)="ratingStars()" class="btn btn-success me-md-2 h-100" type="button">Button</button>
    </div>
</div> -->

<!--TODO Modal cambiar a un componente-->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" ngModel="cartProduct">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{cartProduct.title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="img-fluid" src={{cartProduct.thumbnail}}>
          <div class="card-body">
            <p>{{cartProduct.category}}</p>
            <!-- Puntaje de estrellas -->
            <div class="float-start">
              <span class="fa fa-star checked"><fa-icon [icon]="['fas', 'star']"></fa-icon></span>
              <span class="fa fa-star checked"><fa-icon [icon]="['fas', 'star']"></fa-icon></span>
              <span class="fa fa-star checked"><fa-icon [icon]="['fas', 'star']"></fa-icon></span>
              <span class="fa fa-star"><fa-icon [icon]="['fas', 'star']"></fa-icon></span>
              <span class="fa fa-star"><fa-icon [icon]="['fas', 'star']"></fa-icon></span>

            </div>
            <!-- Puntaje de estrellas -->
            <h3 class="card-subtitle float-end align-self-end" style="font-size:30px; color:rgb(144, 144, 144)">${{cartProduct.price}}.00</h3>
            <h5 class="card-content d-inline-block my-4">{{cartProduct.description}}</h5>

            <!-- carousel de imagens -->
            <div class="carousel-container">
                <div *ngFor="let img of images[1]" >
                    <img ngModel="product" src={{img}} class="carousel-images rounded">
                </div>
            </div>
            <!-- carousel de imagens -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" ngModel="cartProduct">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          {{ cartProduct.title }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="{{ cartProduct.thumbnail }}" />
        <div class="card-body">
          <p>{{ cartProduct.category }}</p>

          <!-- Puntaje de estrellas -->
          <div class="float-start">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <!-- Puntaje de estrellas -->

          <h3
            class="card-subtitle float-end align-self-end"
            style="font-size: 30px; color: rgb(144, 144, 144)"
          >
            ${{ cartProduct.price }}.00
          </h3>
          <h5 class="card-content d-inline-block my-4">
            {{ cartProduct.description }}
          </h5>

          <!-- carousel de imagens -->
          <div class="carousel-container">
            <div *ngFor="let img of images[1]">
              <img
                ngModel="product"
                src="{{ img }}"
                class="carousel-images rounded"
              />
            </div>
          </div>
          <!-- carousel de imagens -->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>

  <!--TODO modularizar-->

