.carousel-container {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
}
.carousel-container .carousel-images{
    flex: 0 0 100%;
    scroll-snap-align: start;
    width: 150px;
}

.fa-star{
    color: rgb(216, 216, 216);
}

.checked{
    color: yellow;
}

.resume_cart {
  height: auto;
  width: auto;
  background-color: rgba(194, 238, 233, 0.833);
}

.resume_cart div {
  width: 80%;
}
.resume_cart div.total {
  border-top: 2px solid rgb(0, 172, 40);
}


.buffer {
  height: 100px;
}
