<div class="mb-5" style="height: 30px"></div>
<!--Esto es por el navbar-->

<!-- Componente de Producto en el shopping cart -->
<app-product-item [item]="cartProduct" idModal="cartProductModal" [modalBody]="modalBody">
</app-product-item>

<!-- Bottom button
<div class="fixed-bottom">
    <div class="d-grid gap-2 d-md-flex align-self-end my-3 mx-3" style="height:55px">
        <button (click)="ratingStars()" class="btn btn-success me-md-2 h-100" type="button">Button</button>
    </div>
</div> 
  <div
    class="d-grid gap-2 d-md-flex align-self-end my-3 mx-3"
    style="height: 55px"
  >
    <button
      (click)="ratingStars()"
      class="btn btn-success me-md-2 h-100"
      type="button"
    >
      Button
    </button>
  </div>
</div>