# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# aplication.properties

/application.properties
/src/main/resources/
/target
target/
*/target/**
/target/
*/target/**
**/META-INF/
Backend/target/classes/
Backend/target/classes/com/shopAPpracticas/shop/ShopAPpracticasApplication.class
Backend/target/classes/META-INF/persistence.xml
Backend/target/classes/application.properties
Backend/target/classes/com/shopAPpracticas/shop/ShopAPpracticasApplication.class
Backend/target/classes/com/shopAPpracticas/shop/controller/CategoryController.class
Backend/target/classes/com/shopAPpracticas/shop/controller/ProductController.class
Backend/target/classes/com/shopAPpracticas/shop/model/CategoryModel.class
Backend/target/classes/com/shopAPpracticas/shop/model/ProductModel.class
Backend/target/classes/com/shopAPpracticas/shop/repository/CategoryRepository.class
Backend/target/classes/com/shopAPpracticas/shop/repository/ProductRepository.class
Backend/target/classes/com/shopAPpracticas/shop/services/CategoryService.class
Backend/target/classes/com/shopAPpracticas/shop/services/ICategoryService.class
Backend/target/classes/com/shopAPpracticas/shop/services/IProductService.class
Backend/target/classes/com/shopAPpracticas/shop/services/ProductService.class
Backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Backend/target/test-classes/com/shopAPpracticas/shop/ShopAPpracticasApplicationTests.class