# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# aplication.properties

/application.properties
/src/main/resources/
/target
Backend/target/classes/
Backend/target/classes/com/shopAPpracticas/shop/ShopAPpracticasApplication.class
Backend/target/classes/META-INF/persistence.xml
Backend/target/classes/application.properties
Backend/target/classes/com/shopAPpracticas/shop/ShopAPpracticasApplication.class
Backend/target/classes/com/shopAPpracticas/shop/controller/CategoryController.class
Backend/target/classes/com/shopAPpracticas/shop/controller/ProductController.class
Backend/target/classes/com/shopAPpracticas/shop/model/CategoryModel.class
Backend/target/classes/com/shopAPpracticas/shop/model/ProductModel.class
Backend/target/classes/com/shopAPpracticas/shop/repository/CategoryRepository.class
Backend/target/classes/com/shopAPpracticas/shop/repository/ProductRepository.class
Backend/target/classes/com/shopAPpracticas/shop/services/CategoryService.class
Backend/target/classes/com/shopAPpracticas/shop/services/ICategoryService.class
Backend/target/classes/com/shopAPpracticas/shop/services/IProductService.class
Backend/target/classes/com/shopAPpracticas/shop/services/ProductService.class
Backend/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Backend/target/test-classes/com/shopAPpracticas/shop/ShopAPpracticasApplicationTests.class