<div class="mb-5"></div> <!--Esto es por el navbar-->
<!-- Home imagen -->
<img src="assets/Home.png" class="my-5">
<!-- Search Inpunt -->
<div class="container-fluid " >
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<!-- TODO Category  -->
<div id="category" class="my-5 mx-3 d-flex" >
    <div id="category-item" class="mx-3 row" *ngFor="let products of listOfProducts[0]" >
        <img src={{products.thumbnail}} class="rounded-circle shadow p-0" style=" height: 60px ">
        <p class="text-center" style="font-size: x-small">{{products.title}}</p>
    </div>
</div>

<!-- Cards -->
<div ngModel="singleProduct" class="d-flex justify-content-center my-3">
    <div class="card shadow" style="width: 18rem;">
        <img src={{singleProduct.thumbnail}} class="card-img-top" alt={{singleProduct.title}}>
        <div class="card-body">
            <p class="card-text">{{singleProduct.description}}</p>
        </div>
    </div>
</div>

<div *ngFor="let products of listOfProducts[0]" class="d-flex justify-content-center my-3">
    <div class="card shadow" style="width: 18rem;">
        <img src={{products.thumbnail}} class="card-img-top" alt={{products.title}}>
        <div class="card-body">
            <p class="card-text">{{products.description}}</p>
        </div>
    </div>
</div>

<!-- TODO faltaría modularizar en varios sub componentes  -->
<!-- TODO deberíamos intentar unificar nombres, inglés, español? detallado, resumido, etc  -->
