<div class="mb-5"></div> <!--Esto es por el navbar-->
<!-- Home imagen -->
<img src="assets/Home.png" class="my-5">

<!-- Search Inpunt -->
<app-search></app-search>

<!-- TODO Category  -->
<app-slider-img></app-slider-img> <!-- Tiene que recibir las entradas -->

<!-- Cards -->
<app-card-list [listOfItems]="listOfProducts" ></app-card-list>


<!-- TODO faltaría modularizar en varios sub componentes  -->
<!-- TODO deberíamos intentar unificar nombres, inglés, español? detallado, resumido, etc  -->
