<!-- Home imagen -->
<img src="assets/Home.png" class="mt-5">
<!-- Search Inpunt -->
<div class="container-fluid">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<!-- Celulares -->
<div id="category" class="my-5 mx-3 d-flex" style="height: 80px" >
    <div  class="mx-3 row" *ngFor="let products of listOfProducts[0]" >       
        <img src={{products.thumbnail}} class="rounded-circle shadow p-0" style=" height: 60px ">
        <p class="text-center" style="font-size: x-small">{{products.title}}</p>
    </div>
    
</div>

<!-- Cards -->
<div ngModel="singleProduct" class="d-flex justify-content-center my-3">
    <div class="card shadow" style="width: 18rem;">
        <img src={{singleProduct.thumbnail}} class="card-img-top" alt={{singleProduct.title}}>
        <div class="card-body">
            <p class="card-text">{{singleProduct.description}}</p>
        </div>
    </div>
</div>