<div id="category" class="my-5 mx-3 d-flex">
  <div id="category-item" class="mx-3 row" *ngFor="let items of thumbnailList">
      <img ngModel="thumbnailList" src={{items.thumbnail}} class="rounded-circle shadow p-0" style="object-fit: cover; height: 100px; width: 100px; max-width: fit-content; margin: 10px">   
      <p class="text-center text-uppercase fs-6" style="font-size: x-small">{{items.category}}</p>
  </div>
</div>
<button class="btn btn-primary" (click)="getThumbnailsOfCategory(this.categoryList)">getImg</button>

