<div class="mb-4"></div>

<!-- Corrousel of images -->
<div id="slider" class="carousel-container mx-2 px-5">
    <div *ngFor="let img of images" >
        <img ngModel="product" src={{img}} class="carousel-images my-5 rounded">
    </div>
</div>

<!-- <app-slider-img></app-slider-img> -->

<!-- Stars -->
<!-- Title & Description -->
<div class="card-body mx-3" ngModel="product">
    <h3 class="card-subtitle float-end" style="font-size:50px">${{product.price}}.00</h3>
    <h1 class="card-title" style="font-size: 30px;">{{product.title}}</h1>
    <p class="card-text">{{product.description}}</p>
    <button (click)="getCategory()" ></button>
</div>

<!-- Prev & Next buttons -->
<!-- <app-prev-next-buttons
  (onClickButton)="onChangeItem($event)"
>
</app-prev-next-buttons> -->

<!-- Bottom buttons -->
<div class="fixed-bottom">
    <div class="d-grid gap-2 d-md-flex align-self-end my-3 mx-3" style="height:110px">
        <button class="btn btn-success me-md-2 h-100" type="button">Button</button>
        <button class="btn btn-outline-primary h-100" type="button" style="background: white">Button</button>
    </div>
</div>

<!-- <app-carousel [listOfItems]="listOfProducts"></app-carousel> -->
