#slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
  }
  #slider .carousel-images{
    object-fit: cover;
    height: 50px;
    width: 50px;
    max-width: fit-content;
    margin: 10px;
    flex: 0 0 100%;
    scroll-snap-align: end;
  }
  